:root {
    font-size: 62.5%;
    --light-gray: #F9FAFB;
    --white: #fff;
    --gray: #DDDEDE;
    --green: #596D48;
    --text-primary: black;
    --text-secondary: #202A38;
    --text-tertiary: #C7CACD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    appearance: none;
    font-size: 1rem;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-section {
    flex: 1;
    background: url("img/background.jpg") gray;
    position: relative;
}

.left-section div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(0, 0, 0, 0.418);
    
}

.left-section img {
    height: 7rem;
}

.left-section h1 {
    color: white;
    display: flex;
    align-items: center;
}

.left-section .footer-photo {
    position: absolute;
    font-size: 1.2rem;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color: white;

}

.left-section .footer-photo a {
    color: white;
    font-size: 1.2rem;
}

.right-section {
    flex: 2;
    justify-content: center;
    background-color: var(--light-gray);
}

.right-section, form {
    gap: 32px;
    display: flex;
    flex-direction: column;

}

.form-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--white);
    padding: 8px 4px;
    box-shadow: 8px 8px 8px var(--gray);
}

.form-card label, .form-card input {
    font-size: 1.4rem;
}

.form-card input {
    width: 90%;
    padding: 4px;
    border: 1px solid black;
}

.form-card fieldset {
    border: none;
    display: flex;
}

.form-card fieldset div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form a {
    font-size: 1.6rem;
    color: green;
    text-decoration: none;
}

form button {
    width: 200px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 8px 0px;
    border: none;
    background-color: var(--green);
    color: white;
    border-radius: 4px;
    transition: scale 100ms linear;
}

form button:hover {
    scale: 1.05;
}

form button:active {
    scale: 0.95;
}

.bold {
    font-weight: bold;
}

.right-section p {
    font-size: 1.6rem;
}